{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for questionnaire in questionnaires %}
        <body style="text-align: center; margin-left: 300px; margin-top: 100px">
        <a href="{% url 'meet:create_meet' %}">Создать новую анкету</a>
        <div class="card">
        <img src="{{ questionnaire.images.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ questionnaire.name }} {{ questionnaire.last_name }}</h5>
            <p class="card-text">{{ questionnaire.family_status }}</p>
            <p class="card-text">{{ questionnaire.city }}</p>
            <p class="card-text">{{ questionnaire.gender }}</p>
            <p class="card-text">{{ questionnaire.zodiac_sign }}</p>
            <p class="card-text">{{ questionnaire.life_with_mom }}</p>
            <p class="card-text">{{ questionnaire.taboo }}</p>
            <p class="card-text">{{ questionnaire.about_me }}</p>
            <p class="card-text">{{ questionnaire.addictions }}</p>
            <p class="card-text">{{ questionnaire.date_of_birthday }}</p>
            <p class="card-text">{{ questionnaire.dating }}</p>
            <p class="card-text">{{ questionnaire.children }}</p>
            <p class="card-text">{{ questionnaire.height }}</p>
            <p class="card-text">{{ questionnaire.hobbies }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
